<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>销售额统计</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>


    <script src="../js/base.js"></script>
    <script src="../js/service/orderService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/orderController.js"></script>


</head>

<body ng-app="pinyougou" ng-controller="orderController" class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">各商品销售额统计</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <!--工具栏-->
        <div class="box-tools pull-right">
            <div class="has-feedback" style="padding: 12px 345px">
                请输入时间段：从&nbsp;&nbsp;<input type="date" ng-model="startTime">&nbsp;&nbsp;到&nbsp;&nbsp;<input type="date" ng-model="endTime">&nbsp;
                <button class="btn btn-default" ng-click="searchDayGoodsSale()">查看销售额</button>
            </div>
        </div>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="sorting_asc">商品ID</th>
                <th class="sorting">分类</th>
                <th class="sorting">品牌</th>
                <th class="sorting">规格</th>
                <th class="sorting">价格</th>
                <th class="sorting">库存</th>
                <th class="sorting">总销售额</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in itemList">
                <td>{{item.id}}</td>
                <td>{{item.category}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.spec}}</td>
                <td>{{item.price}}</td>
                <td>{{item.num}}</td>
                <td>{{item.itemTotalFee}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
    </div>

</div>
<!-- /.box-body -->

</body>

</html>